include dataList.pug

section.about#about
  div.container
    div.information
      div.section-header
        |About me
      div.about-content
        div.photo
          div.image#photo-image
        div.description
          for info in informationList
            div.fullname= info.fullname
            div.birthday= info.birthday
            div.location= info.location
            div.position= info.position
            div.bio= info.bio
            div.interests= info.interests
          
